src/flows/FSL_wolifix-5.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>ass</name>
        <label>ass</label>
        <locationX>835</locationX>
        <locationY>162</locationY>
        <assignmentItems>
            <assignToReference>sobjectProducts.Work_Order__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>WOID</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>ass_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>ass_0</name>
        <label>ass</label>
        <locationX>847</locationX>
        <locationY>347</locationY>
        <assignmentItems>
            <assignToReference>colvarProducts</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>sobjectProducts</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>loopWOLI_0</targetReference>
        </connector>
    </assignments>
    <formulas>
        <name>Now</name>
        <dataType>DateTime</dataType>
        <expression>{!$Flow.CurrentDateTime}</expression>
    </formulas>
    <formulas>
        <name>Nowplus7days</name>
        <dataType>DateTime</dataType>
        <expression>{!$Flow.CurrentDateTime}+7</expression>
    </formulas>
    <formulas>
        <name>Subject</name>
        <dataType>String</dataType>
        <expression>{!Name}+&quot; Appointment &quot;+text({!$Flow.CurrentDate})</expression>
    </formulas>
    <interviewLabel>FSL_wolifix {!$Flow.CurrentDateTime}</interviewLabel>
    <label>FSL_wolifix</label>
    <loops>
        <name>loopWOLI_0</name>
        <label>loopWOLI</label>
        <locationX>586</locationX>
        <locationY>121</locationY>
        <assignNextValueToReference>sobjectProducts</assignNextValueToReference>
        <collectionReference>colvarProducts</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>ass</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>updatewoli</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>lookupProducts</name>
        <label>lookupProducts</label>
        <locationX>409</locationX>
        <locationY>107</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>loopWOLI_0</targetReference>
        </connector>
        <filters>
            <field>WOLI__c</field>
            <operator>StartsWith</operator>
            <value>
                <elementReference>workorderid</elementReference>
            </value>
        </filters>
        <filters>
            <field>Work_Order__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </filters>
        <object>ProductRequired</object>
        <outputReference>colvarProducts</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Work_Order__c</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>updatewoli</name>
        <label>updatewoli</label>
        <locationX>571</locationX>
        <locationY>349</locationY>
        <inputReference>sobjectProducts</inputReference>
    </recordUpdates>
    <startElementReference>lookupProducts</startElementReference>
    <variables>
        <name>account</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>accountid</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>City</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>colvarAccounts</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>colvarProducts</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ProductRequired</objectType>
    </variables>
    <variables>
        <name>colvarWOLI</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>WorkOrderLineItem</objectType>
    </variables>
    <variables>
        <name>Country</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Name</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>sobjectAccount</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>sobjectProducts</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ProductRequired</objectType>
    </variables>
    <variables>
        <name>sobjectWOLI</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>WorkOrderLineItem</objectType>
    </variables>
    <variables>
        <name>State</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>STID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Street</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>WOID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>WOLIid</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>workorderid</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Zip</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
