src/flows/FSL_MaintainWODuration-7.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>CalDuration</name>
        <label>CalDuration</label>
        <locationX>278</locationX>
        <locationY>412</locationY>
        <assignmentItems>
            <assignToReference>vDuration</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>vWOLI.Duration</elementReference>
            </value>
        </assignmentItems>
    </assignments>
    <formulas>
        <name>formula</name>
        <dataType>Number</dataType>
        <expression>{!vWOLI.DurationInMinutes}</expression>
        <scale>2</scale>
    </formulas>
    <interviewLabel>FSL_MaintainWODuration {!$Flow.CurrentDateTime}</interviewLabel>
    <label>FSL_MaintainWODuration</label>
    <loops>
        <name>loop1</name>
        <label>loop1</label>
        <locationX>280</locationX>
        <locationY>220</locationY>
        <assignNextValueToReference>vWOLI</assignNextValueToReference>
        <collectionReference>vcoll_WOLIs</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>CalDuration</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>UpdateDuration</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>findWOLIs</name>
        <label>findWOLIs</label>
        <locationX>279</locationX>
        <locationY>93</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>loop1</targetReference>
        </connector>
        <filters>
            <field>WorkOrderId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>WOID</elementReference>
            </value>
        </filters>
        <object>WorkOrderLineItem</object>
        <outputReference>vcoll_WOLIs</outputReference>
        <queriedFields>Duration</queriedFields>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>UpdateDuration</name>
        <label>UpdateDuration</label>
        <locationX>568</locationX>
        <locationY>220</locationY>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>WOID</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Duration</field>
            <value>
                <elementReference>vDuration</elementReference>
            </value>
        </inputAssignments>
        <object>WorkOrder</object>
    </recordUpdates>
    <startElementReference>findWOLIs</startElementReference>
    <variables>
        <name>vcoll_WOLIs</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>WorkOrderLineItem</objectType>
    </variables>
    <variables>
        <name>vDuration</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>2</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>vWOLI</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>WorkOrderLineItem</objectType>
    </variables>
    <variables>
        <name>WOID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
</Flow>
