src/flows/FSL_CreateData_Mass-32.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>Schedule</name>
        <label>Schedule</label>
        <locationX>491</locationX>
        <locationY>894</locationY>
        <actionName>FSL__ScheduleServiceProcess</actionName>
        <actionType>apex</actionType>
    </actionCalls>
    <assignments>
        <name>assAccountToWorkrder</name>
        <label>assAccountToWorkrder</label>
        <locationX>243</locationX>
        <locationY>44</locationY>
        <assignmentItems>
            <assignToReference>tempcolWO.AccountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>sobjectAccount.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>tempcolWO.WorkTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>08q0O000000bm2t</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>tempcolWO.Street</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>sobjectAccount.ShippingStreet</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>tempcolWO.City</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>sobjectAccount.ShippingCity</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>tempcolWO.State</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>sobjectAccount.ShippingState</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>tempcolWO.Country</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>sobjectAccount.ShippingCountry</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>tempcolWO.StartDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Now</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>tempcolWO.EndDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Now</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>tempcolWO.Priority</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Medium</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>tempcolWO.PostalCode</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>sobjectAccount.ShippingPostalCode</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>assWOtoCollection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assWOLI_1</name>
        <label>assWOLI_1</label>
        <locationX>756</locationX>
        <locationY>122</locationY>
        <assignmentItems>
            <assignToReference>tempcolWOLI_1.Subject</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Sample Task 1 (to do)</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>tempcolWOLI_1.WorkOrderId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>tempcolWO.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>tempcolWOLI_1.StartDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Now</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>tempcolWOLI_1.EndDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Now</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>tempcolWOLI_1.WorkTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>08q0O000000bm2t</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>assWOtoCollection_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assWOLI_1_0</name>
        <label>assWOLI_2</label>
        <locationX>760</locationX>
        <locationY>199</locationY>
        <assignmentItems>
            <assignToReference>tempcolWOLI_2.Subject</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Sample Task 2 (Survey)</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>tempcolWOLI_2.WorkOrderId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>tempcolWO.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>tempcolWOLI_2.StartDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Now</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>tempcolWOLI_2.EndDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Now</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>tempcolWOLI_2.WorkTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>08q0O000000bm76</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>tempcolWOLI_2.Question_1__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>This is a sample question for a Survey. Please check yes to complete (Q1)</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>tempcolWOLI_2.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>0120O0000003I8V</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>tempcolWOLI_2.Question_2__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>This is a sample question for a Survey. Please check yes to complete (Q2)</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>tempcolWOLI_2.Question_3__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>This is a sample question for a Survey. Please check yes to complete (Q3)</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>assWOtoCollection_0_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assWOLI_1_0_0</name>
        <label>assWOLI_3</label>
        <locationX>761</locationX>
        <locationY>288</locationY>
        <assignmentItems>
            <assignToReference>tempcolWOLI_3.Subject</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Sample Task 3 (Content/Video)</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>tempcolWOLI_3.WorkOrderId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>tempcolWO.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>tempcolWOLI_3.StartDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Now</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>tempcolWOLI_3.EndDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Now</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>tempcolWOLI_3.WorkTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>08q0O000000bm76</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>tempcolWOLI_3.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>0120O0000003I8a</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>tempcolWOLI_3.Video_URL__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>https://www.youtube.com/watch?v=tntOCGkgt98</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>assWOtoCollection_0_0_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assWOtoCollection</name>
        <label>assWOtoCollection</label>
        <locationX>460</locationX>
        <locationY>130</locationY>
        <assignmentItems>
            <assignToReference>collWOs</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>tempcolWO</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>LoopAllAccounts</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assWOtoCollection_0</name>
        <label>assWOLI_1_toCollection</label>
        <locationX>907</locationX>
        <locationY>122</locationY>
        <assignmentItems>
            <assignToReference>colWOLI_1</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>tempcolWOLI_1</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>assWOLI_1_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assWOtoCollection_0_0</name>
        <label>assWOLI_2_toCollection</label>
        <locationX>918</locationX>
        <locationY>196</locationY>
        <assignmentItems>
            <assignToReference>colWOLI_2</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>tempcolWOLI_2</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>assWOLI_1_0_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assWOtoCollection_0_0_0</name>
        <label>assWOLI_3_toCollection</label>
        <locationX>935</locationX>
        <locationY>368</locationY>
        <assignmentItems>
            <assignToReference>colWOLI_3</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>tempcolWOLI_3</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>loopNewWorkOrders</targetReference>
        </connector>
    </assignments>
    <formulas>
        <name>Now</name>
        <dataType>DateTime</dataType>
        <expression>{!$Flow.CurrentDateTime}</expression>
    </formulas>
    <formulas>
        <name>nowplus1</name>
        <dataType>DateTime</dataType>
        <expression>{!$Flow.CurrentDateTime}+1</expression>
    </formulas>
    <formulas>
        <name>nowplus2</name>
        <dataType>DateTime</dataType>
        <expression>{!$Flow.CurrentDateTime}+2</expression>
    </formulas>
    <formulas>
        <name>nowplus3</name>
        <dataType>DateTime</dataType>
        <expression>{!$Flow.CurrentDateTime}+3</expression>
    </formulas>
    <formulas>
        <name>nowplus4</name>
        <dataType>DateTime</dataType>
        <expression>{!$Flow.CurrentDateTime}+4</expression>
    </formulas>
    <formulas>
        <name>nowplus5</name>
        <dataType>DateTime</dataType>
        <expression>{!$Flow.CurrentDateTime}+5</expression>
    </formulas>
    <formulas>
        <name>nowplus6</name>
        <dataType>DateTime</dataType>
        <expression>{!$Flow.CurrentDateTime}+6</expression>
    </formulas>
    <formulas>
        <name>Nowplus7days</name>
        <dataType>DateTime</dataType>
        <expression>{!$Flow.CurrentDateTime}+7</expression>
    </formulas>
    <formulas>
        <name>Subject</name>
        <dataType>String</dataType>
        <expression>{!Name}+&quot; Appointment &quot;+text({!$Flow.CurrentDate})</expression>
    </formulas>
    <interviewLabel>FSL_CreateData_Mass {!$Flow.CurrentDateTime}</interviewLabel>
    <label>FSL_CreateData_Mass</label>
    <loops>
        <name>LoopAllAccounts</name>
        <label>LoopAllAccounts</label>
        <locationX>10</locationX>
        <locationY>120</locationY>
        <assignNextValueToReference>sobjectAccount</assignNextValueToReference>
        <collectionReference>colvarAccounts</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>assAccountToWorkrder</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>fastCreateWOs</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>loopNewWorkOrders</name>
        <label>loopNewWorkOrders</label>
        <locationX>23</locationX>
        <locationY>342</locationY>
        <assignNextValueToReference>tempcolWO</assignNextValueToReference>
        <collectionReference>collWOs</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>assWOLI_1</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>fastCreateWOs_0</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>fastCreateWOs</name>
        <label>fastCreateWOs</label>
        <locationX>13</locationX>
        <locationY>236</locationY>
        <connector>
            <targetReference>loopNewWorkOrders</targetReference>
        </connector>
        <inputReference>collWOs</inputReference>
    </recordCreates>
    <recordCreates>
        <name>fastCreateWOs_0</name>
        <label>fastCreateWOLI_1</label>
        <locationX>27</locationX>
        <locationY>669</locationY>
        <connector>
            <targetReference>fastCreateWOs_0_0</targetReference>
        </connector>
        <inputReference>colWOLI_1</inputReference>
    </recordCreates>
    <recordCreates>
        <name>fastCreateWOs_0_0</name>
        <label>fastCreateWOLI_2</label>
        <locationX>214</locationX>
        <locationY>674</locationY>
        <connector>
            <targetReference>fastCreateWOs_0_0_0</targetReference>
        </connector>
        <inputReference>colWOLI_2</inputReference>
    </recordCreates>
    <recordCreates>
        <name>fastCreateWOs_0_0_0</name>
        <label>fastCreateWOLI_3</label>
        <locationX>367</locationX>
        <locationY>671</locationY>
        <connector>
            <targetReference>now_1</targetReference>
        </connector>
        <inputReference>colWOLI_3</inputReference>
    </recordCreates>
    <recordLookups>
        <name>All_Accounts</name>
        <label>All Accounts</label>
        <locationX>19</locationX>
        <locationY>3</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>LoopAllAccounts</targetReference>
        </connector>
        <filters>
            <field>ShippingCountry</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>USA</stringValue>
            </value>
        </filters>
        <filters>
            <field>Type</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Customer - Direct</stringValue>
            </value>
        </filters>
        <object>Account</object>
        <outputReference>colvarAccounts</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>ShippingCity</queriedFields>
        <queriedFields>ShippingCountry</queriedFields>
        <queriedFields>ShippingPostalCode</queriedFields>
        <queriedFields>ShippingState</queriedFields>
        <queriedFields>ShippingStreet</queriedFields>
        <queriedFields>Name</queriedFields>
    </recordLookups>
    <startElementReference>All_Accounts</startElementReference>
    <subflows>
        <name>now_1</name>
        <label>now+1</label>
        <locationX>41</locationX>
        <locationY>801</locationY>
        <connector>
            <targetReference>Schedule</targetReference>
        </connector>
        <flowName>FSL_CreateData_Mass_loop</flowName>
        <inputAssignments>
            <name>zzStart</name>
            <value>
                <elementReference>nowplus1</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <variables>
        <name>account</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>accountid</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>City</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>collWOs</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>WorkOrder</objectType>
    </variables>
    <variables>
        <name>colSA</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ServiceAppointment</objectType>
    </variables>
    <variables>
        <name>colvarAccounts</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>colvarProducts</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ProductRequired</objectType>
    </variables>
    <variables>
        <name>colWOLI_1</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>WorkOrderLineItem</objectType>
    </variables>
    <variables>
        <name>colWOLI_2</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>WorkOrderLineItem</objectType>
    </variables>
    <variables>
        <name>colWOLI_3</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>WorkOrderLineItem</objectType>
    </variables>
    <variables>
        <name>Country</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Name</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>sobjectAccount</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>sobjectProducts</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ProductRequired</objectType>
    </variables>
    <variables>
        <name>State</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>STID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Street</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>tempcolSA</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ServiceAppointment</objectType>
    </variables>
    <variables>
        <name>tempcolWO</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>WorkOrder</objectType>
    </variables>
    <variables>
        <name>tempcolWOLI_1</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>WorkOrderLineItem</objectType>
    </variables>
    <variables>
        <name>tempcolWOLI_2</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>WorkOrderLineItem</objectType>
    </variables>
    <variables>
        <name>tempcolWOLI_3</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>WorkOrderLineItem</objectType>
    </variables>
    <variables>
        <name>WOID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Zip</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
