src/flows/FSL_CreateSA-2.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>assSP</name>
        <label>assSP</label>
        <locationX>30</locationX>
        <locationY>60</locationY>
        <assignmentItems>
            <assignToReference>tempcolSA.Subject</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Subject</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>tempcolSA.ParentRecordId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>WOID</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>tempcolSA.EarliestStartTime</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>WOSTART</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>tempcolSA.DueDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Nowplus7days</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>tempcolSA.Status</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>None</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>tempcolSA.ServiceTerritoryId</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>0Hh0O000000blqV</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>assWOtoCollection_0_0_0_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assWOtoCollection_0_0_0_0</name>
        <label>assSA_toCollection</label>
        <locationX>30</locationX>
        <locationY>156</locationY>
        <assignmentItems>
            <assignToReference>colSA</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>tempcolSA</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>fastCreateWOs_0_0_0_0</targetReference>
        </connector>
    </assignments>
    <formulas>
        <name>Now</name>
        <dataType>DateTime</dataType>
        <expression>{!$Flow.CurrentDateTime}</expression>
    </formulas>
    <formulas>
        <name>nowplus1</name>
        <dataType>DateTime</dataType>
        <expression>{!$Flow.CurrentDateTime}+1</expression>
    </formulas>
    <formulas>
        <name>nowplus2</name>
        <dataType>DateTime</dataType>
        <expression>{!$Flow.CurrentDateTime}+2</expression>
    </formulas>
    <formulas>
        <name>nowplus3</name>
        <dataType>DateTime</dataType>
        <expression>{!$Flow.CurrentDateTime}+3</expression>
    </formulas>
    <formulas>
        <name>nowplus4</name>
        <dataType>DateTime</dataType>
        <expression>{!$Flow.CurrentDateTime}+4</expression>
    </formulas>
    <formulas>
        <name>nowplus5</name>
        <dataType>DateTime</dataType>
        <expression>{!$Flow.CurrentDateTime}+5</expression>
    </formulas>
    <formulas>
        <name>nowplus6</name>
        <dataType>DateTime</dataType>
        <expression>{!$Flow.CurrentDateTime}+6</expression>
    </formulas>
    <formulas>
        <name>Nowplus7days</name>
        <dataType>DateTime</dataType>
        <expression>{!WOSTART}+7</expression>
    </formulas>
    <formulas>
        <name>Subject</name>
        <dataType>String</dataType>
        <expression>{!Name}+&quot; Appointment &quot;+text({!$Flow.CurrentDate})</expression>
    </formulas>
    <interviewLabel>FSL_CreateSA {!$Flow.CurrentDateTime}</interviewLabel>
    <label>FSL_CreateSA</label>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>fastCreateWOs_0_0_0_0</name>
        <label>fastCreateSA</label>
        <locationX>36</locationX>
        <locationY>290</locationY>
        <inputReference>tempcolSA</inputReference>
    </recordCreates>
    <startElementReference>assSP</startElementReference>
    <variables>
        <name>account</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>accountid</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>City</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>collWOs</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>WorkOrder</objectType>
    </variables>
    <variables>
        <name>colSA</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ServiceAppointment</objectType>
    </variables>
    <variables>
        <name>colvarAccounts</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>colvarProducts</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ProductRequired</objectType>
    </variables>
    <variables>
        <name>colWOLI_1</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>WorkOrderLineItem</objectType>
    </variables>
    <variables>
        <name>colWOLI_2</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>WorkOrderLineItem</objectType>
    </variables>
    <variables>
        <name>colWOLI_3</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>WorkOrderLineItem</objectType>
    </variables>
    <variables>
        <name>Country</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Name</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>sobjectAccount</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>sobjectProducts</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ProductRequired</objectType>
    </variables>
    <variables>
        <name>State</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>STID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Street</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>tempcolSA</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ServiceAppointment</objectType>
    </variables>
    <variables>
        <name>tempcolWO</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>WorkOrder</objectType>
    </variables>
    <variables>
        <name>tempcolWOLI_1</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>WorkOrderLineItem</objectType>
    </variables>
    <variables>
        <name>tempcolWOLI_2</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>WorkOrderLineItem</objectType>
    </variables>
    <variables>
        <name>tempcolWOLI_3</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>WorkOrderLineItem</objectType>
    </variables>
    <variables>
        <name>WOID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>WOSTART</name>
        <dataType>DateTime</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Zip</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
