src/flows/FSL_CreateData_Mass-17.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>assAccountToWorkrder</name>
        <label>assAccountToWorkrder</label>
        <locationX>243</locationX>
        <locationY>44</locationY>
        <assignmentItems>
            <assignToReference>tempcolWO.AccountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>sobjectAccount.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>tempcolWO.Duration</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>tempcolWO.Street</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>sobjectAccount.ShippingStreet</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>tempcolWO.City</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>sobjectAccount.ShippingCity</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>tempcolWO.State</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>sobjectAccount.ShippingState</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>tempcolWO.Country</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>sobjectAccount.ShippingCountry</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>tempcolWO.StartDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Now</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>tempcolWO.EndDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Now</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>tempcolWO.Priority</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Medium</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>tempcolWO.PostalCode</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>sobjectAccount.ShippingPostalCode</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>assWOtoCollection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assWOtoCollection</name>
        <label>assWOtoCollection</label>
        <locationX>460</locationX>
        <locationY>130</locationY>
        <assignmentItems>
            <assignToReference>collWOs</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>tempcolWO</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>LoopAllAccounts</targetReference>
        </connector>
    </assignments>
    <formulas>
        <name>Now</name>
        <dataType>DateTime</dataType>
        <expression>{!$Flow.CurrentDateTime}</expression>
    </formulas>
    <formulas>
        <name>Nowplus7days</name>
        <dataType>DateTime</dataType>
        <expression>{!$Flow.CurrentDateTime}+7</expression>
    </formulas>
    <formulas>
        <name>Subject</name>
        <dataType>String</dataType>
        <expression>{!Name}+&quot; Appointment &quot;+text({!$Flow.CurrentDate})</expression>
    </formulas>
    <interviewLabel>FSL_CreateData_Mass {!$Flow.CurrentDateTime}</interviewLabel>
    <label>FSL_CreateData_Mass</label>
    <loops>
        <name>LoopAllAccounts</name>
        <label>LoopAllAccounts</label>
        <locationX>10</locationX>
        <locationY>120</locationY>
        <assignNextValueToReference>sobjectAccount</assignNextValueToReference>
        <collectionReference>colvarAccounts</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>assAccountToWorkrder</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>fastCreateWOs</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>loopNewWorkOrders</name>
        <label>loopNewWorkOrders</label>
        <locationX>23</locationX>
        <locationY>342</locationY>
        <assignNextValueToReference>tempcolWO</assignNextValueToReference>
        <collectionReference>collWOs</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>WOLI_1</targetReference>
        </nextValueConnector>
    </loops>
    <processType>Flow</processType>
    <recordCreates>
        <name>fastCreateWOs</name>
        <label>fastCreateWOs</label>
        <locationX>13</locationX>
        <locationY>236</locationY>
        <connector>
            <targetReference>loopNewWorkOrders</targetReference>
        </connector>
        <inputReference>collWOs</inputReference>
    </recordCreates>
    <recordCreates>
        <name>ServiceAppointment</name>
        <label>ServiceAppointment</label>
        <locationX>455</locationX>
        <locationY>425</locationY>
        <connector>
            <targetReference>loopNewWorkOrders</targetReference>
        </connector>
        <inputAssignments>
            <field>DueDate</field>
            <value>
                <elementReference>Nowplus7days</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>EarliestStartTime</field>
            <value>
                <elementReference>Now</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ParentRecordId</field>
            <value>
                <elementReference>tempcolWO.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>ServiceTerritoryId</field>
            <value>
                <stringValue>0Hh0O000000blqV</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>None</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <elementReference>Subject</elementReference>
            </value>
        </inputAssignments>
        <object>ServiceAppointment</object>
    </recordCreates>
    <recordCreates>
        <name>WOLI_1</name>
        <label>WOLI_1</label>
        <locationX>217</locationX>
        <locationY>259</locationY>
        <connector>
            <targetReference>WOLI_1_0</targetReference>
        </connector>
        <inputAssignments>
            <field>EndDate</field>
            <value>
                <elementReference>Now</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>StartDate</field>
            <value>
                <elementReference>Now</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>Sample Task 1 (to do)</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WorkOrderId</field>
            <value>
                <elementReference>tempcolWO.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WorkTypeId</field>
            <value>
                <stringValue>08q0O000000bm2t</stringValue>
            </value>
        </inputAssignments>
        <object>WorkOrderLineItem</object>
    </recordCreates>
    <recordCreates>
        <name>WOLI_1_0</name>
        <label>WOLI_2</label>
        <locationX>375</locationX>
        <locationY>262</locationY>
        <connector>
            <targetReference>WOLI_1_0_0</targetReference>
        </connector>
        <inputAssignments>
            <field>EndDate</field>
            <value>
                <elementReference>Now</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Question_1__c</field>
            <value>
                <stringValue>This is a sample question for a Survey. Please check yes to complete</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <stringValue>0120O0000003I8V</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>StartDate</field>
            <value>
                <elementReference>Now</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>Sample Task 2 (Survey)</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WorkOrderId</field>
            <value>
                <elementReference>tempcolWO.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WorkTypeId</field>
            <value>
                <stringValue>08q0O000000bm76</stringValue>
            </value>
        </inputAssignments>
        <object>WorkOrderLineItem</object>
    </recordCreates>
    <recordCreates>
        <name>WOLI_1_0_0</name>
        <label>WOLI_3</label>
        <locationX>544</locationX>
        <locationY>272</locationY>
        <connector>
            <targetReference>ServiceAppointment</targetReference>
        </connector>
        <inputAssignments>
            <field>EndDate</field>
            <value>
                <elementReference>Now</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>StartDate</field>
            <value>
                <elementReference>Now</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <stringValue>Sample Task 3 (Content/Video)</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Video_URL__c</field>
            <value>
                <stringValue>https://www.youtube.com/watch?v=tntOCGkgt98</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WorkOrderId</field>
            <value>
                <elementReference>tempcolWO.Id</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WorkTypeId</field>
            <value>
                <stringValue>08q0O000000bm76</stringValue>
            </value>
        </inputAssignments>
        <object>WorkOrderLineItem</object>
    </recordCreates>
    <recordLookups>
        <name>All_Accounts</name>
        <label>All Accounts</label>
        <locationX>19</locationX>
        <locationY>3</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>LoopAllAccounts</targetReference>
        </connector>
        <filters>
            <field>Type</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Customer - Direct</stringValue>
            </value>
        </filters>
        <object>Account</object>
        <outputReference>colvarAccounts</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>ShippingCity</queriedFields>
        <queriedFields>ShippingCountry</queriedFields>
        <queriedFields>ShippingPostalCode</queriedFields>
        <queriedFields>ShippingState</queriedFields>
        <queriedFields>ShippingStreet</queriedFields>
        <queriedFields>Name</queriedFields>
    </recordLookups>
    <startElementReference>All_Accounts</startElementReference>
    <variables>
        <name>account</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>accountid</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>City</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>collWOs</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>WorkOrder</objectType>
    </variables>
    <variables>
        <name>colvarAccounts</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>colvarProducts</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ProductRequired</objectType>
    </variables>
    <variables>
        <name>Country</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Name</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>sobjectAccount</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>sobjectProducts</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ProductRequired</objectType>
    </variables>
    <variables>
        <name>State</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>STID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Street</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>tempcolWO</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>WorkOrder</objectType>
    </variables>
    <variables>
        <name>WOID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Zip</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
