src/flows/FSL_SampleSurvey-5.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <choices>
        <name>Amsterdam</name>
        <choiceText>Amsterdam</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>Beaus</name>
        <choiceText>Beau&apos;s</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>Closed</name>
        <choiceText>Closed</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>Debug</name>
        <choiceText>Debug</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>Great_Lakes</name>
        <choiceText>Great Lakes</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>Increased_call</name>
        <choiceText>Increased call coverage</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>Mill_St</name>
        <choiceText>Mill St</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>Moosehead</name>
        <choiceText>Moosehead</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>Muskoka</name>
        <choiceText>Muskoka</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>N_A</name>
        <choiceText>N/A</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>Nicklebrook</name>
        <choiceText>NickleBrook</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>No</name>
        <choiceText>No</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>Not_interested_in_MMC</name>
        <choiceText>Not interested in MCC brands</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>On_Prem</name>
        <choiceText>On Prem</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>On_Prem_6_Pints</name>
        <choiceText>On Prem - 6 Pints</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>Promo_Materials</name>
        <choiceText>Promo Materials</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>Steamwhistle</name>
        <choiceText>Steamwhistle</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>Tap_to_table</name>
        <choiceText>Tap to table</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>Too_Small</name>
        <choiceText>Too Small</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>Trade_rebate</name>
        <choiceText>Trade rebate</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>X0</name>
        <choiceText>0</choiceText>
        <dataType>Number</dataType>
    </choices>
    <choices>
        <name>X00</name>
        <choiceText>0</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>X01</name>
        <choiceText>1</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>X02</name>
        <choiceText>2</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>X03</name>
        <choiceText>3</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>X04</name>
        <choiceText>4</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>X05</name>
        <choiceText>5</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>X06</name>
        <choiceText>6+</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>X0_50</name>
        <choiceText>0-50</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>X101_200</name>
        <choiceText>101-200</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>X13_16</name>
        <choiceText>13-16</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>X17</name>
        <choiceText>17+</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>X1_2</name>
        <choiceText>1-2</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>X201300</name>
        <choiceText>201-300</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>X301</name>
        <choiceText>300+</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>X3_4</name>
        <choiceText>3-4</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>X51_100</name>
        <choiceText>51-100</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>X5_8</name>
        <choiceText>5-8</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>X9_12</name>
        <choiceText>9-12</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>Yes</name>
        <choiceText>Yes</choiceText>
        <dataType>String</dataType>
    </choices>
    <decisions>
        <name>q7yesno</name>
        <label>q7yesno</label>
        <locationX>398</locationX>
        <locationY>249</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>nochoice</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>qq7</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>No</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Screen3</targetReference>
            </connector>
            <label>no</label>
        </rules>
        <rules>
            <name>yeschoice</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>qq7</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Yes</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Screen3_0</targetReference>
            </connector>
            <label>yes</label>
        </rules>
    </decisions>
    <decisions>
        <name>q7yesno_0</name>
        <label>type choice</label>
        <locationX>59</locationX>
        <locationY>156</locationY>
        <defaultConnector>
            <targetReference>CreateTask</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>nochoice_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>On_Prem</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Screen2_0</targetReference>
            </connector>
            <label>on prem</label>
        </rules>
        <rules>
            <name>yeschoice_0</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Type</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>On_Prem_6_Pints</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Screen2</targetReference>
            </connector>
            <label>6 pints</label>
        </rules>
    </decisions>
    <interviewLabel>FSL_SampleSurvey {!$Flow.CurrentDateTime}</interviewLabel>
    <label>FSL_SampleSurvey</label>
    <processType>FieldServiceMobile</processType>
    <recordCreates>
        <name>CreateTask</name>
        <label>CreateTask</label>
        <locationX>284</locationX>
        <locationY>405</locationY>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <elementReference>Subject</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhatId</field>
            <value>
                <elementReference>Id</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
    </recordCreates>
    <screens>
        <name>Screen2</name>
        <label>On Prem Six Pints</label>
        <locationX>442</locationX>
        <locationY>86</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>q7yesno</targetReference>
        </connector>
        <fields>
            <name>question1</name>
            <fieldText>How many draft lines does this POC have?</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Q1</name>
            <choiceReferences>X1_2</choiceReferences>
            <choiceReferences>X3_4</choiceReferences>
            <choiceReferences>X5_8</choiceReferences>
            <choiceReferences>X9_12</choiceReferences>
            <choiceReferences>X13_16</choiceReferences>
            <choiceReferences>X17</choiceReferences>
            <choiceReferences>X00</choiceReferences>
            <dataType>String</dataType>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Q2</name>
            <fieldText>How many unreported draft lines are avalible at this POC?</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>qq2</name>
            <choiceReferences>X00</choiceReferences>
            <choiceReferences>X01</choiceReferences>
            <choiceReferences>X02</choiceReferences>
            <choiceReferences>X03</choiceReferences>
            <choiceReferences>X04</choiceReferences>
            <choiceReferences>X05</choiceReferences>
            <choiceReferences>X06</choiceReferences>
            <dataType>String</dataType>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>q3</name>
            <fieldText>How many MCC draft lines are avalible at this POC?</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>qq3</name>
            <choiceReferences>X00</choiceReferences>
            <choiceReferences>X01</choiceReferences>
            <choiceReferences>X02</choiceReferences>
            <choiceReferences>X03</choiceReferences>
            <choiceReferences>X04</choiceReferences>
            <choiceReferences>X05</choiceReferences>
            <choiceReferences>X06</choiceReferences>
            <dataType>String</dataType>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>q4</name>
            <fieldText>Approx industry volume opportunity at this POC?</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>qq4</name>
            <choiceReferences>X0_50</choiceReferences>
            <choiceReferences>X51_100</choiceReferences>
            <choiceReferences>X101_200</choiceReferences>
            <choiceReferences>X201300</choiceReferences>
            <choiceReferences>X301</choiceReferences>
            <dataType>String</dataType>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>q5</name>
            <fieldText>Does this POC carry any of the following listed breweries on tap</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>qq5</name>
            <choiceReferences>Steamwhistle</choiceReferences>
            <choiceReferences>Beaus</choiceReferences>
            <choiceReferences>Mill_St</choiceReferences>
            <choiceReferences>Muskoka</choiceReferences>
            <choiceReferences>Amsterdam</choiceReferences>
            <choiceReferences>Moosehead</choiceReferences>
            <choiceReferences>Great_Lakes</choiceReferences>
            <choiceReferences>Nicklebrook</choiceReferences>
            <dataType>String</dataType>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>q6</name>
            <fieldText>Have you collected contact info including email/phone for the customer</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>qq6</name>
            <dataType>Boolean</dataType>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>q7</name>
            <fieldText>Opportunity for further call coverage resulting in incremental volume?</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>qq7</name>
            <choiceReferences>Yes</choiceReferences>
            <choiceReferences>No</choiceReferences>
            <dataType>String</dataType>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Screen2_0</name>
        <label>On Prem</label>
        <locationX>57</locationX>
        <locationY>299</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>CreateTask</targetReference>
        </connector>
        <fields>
            <name>question1_0</name>
            <fieldText>All MCC taps and medallions CURRENT and in working condition?</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Q1_0</name>
            <choiceReferences>Yes</choiceReferences>
            <choiceReferences>No</choiceReferences>
            <dataType>String</dataType>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Q2_0</name>
            <fieldText>Min 6 branded glass for ALL of MHS draught?</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>qq2_0</name>
            <choiceReferences>Yes</choiceReferences>
            <choiceReferences>No</choiceReferences>
            <choiceReferences>N_A</choiceReferences>
            <dataType>String</dataType>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>q3_0</name>
            <fieldText>All MCC prices visible to the consumer? Menu, chalk board, POS?</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>qq3_0</name>
            <choiceReferences>Yes</choiceReferences>
            <choiceReferences>No</choiceReferences>
            <dataType>String</dataType>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>q4_0</name>
            <fieldText>Are all of our listed MHS in stock and available for sale?</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>qq4_0</name>
            <choiceReferences>Yes</choiceReferences>
            <choiceReferences>No</choiceReferences>
            <dataType>String</dataType>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>q5_0</name>
            <fieldText>Do we have 33% of all AP Domestic and Craft taps in this outlet?</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>qq5_0</name>
            <choiceReferences>Yes</choiceReferences>
            <choiceReferences>No</choiceReferences>
            <choiceReferences>N_A</choiceReferences>
            <dataType>String</dataType>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>q6_0</name>
            <fieldText>Is there an MCC exclusive weekly beer feature price,added value?</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>qq6_00</name>
            <choiceReferences>Yes</choiceReferences>
            <choiceReferences>No</choiceReferences>
            <dataType>String</dataType>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>q7_00</name>
            <fieldText>All our product properly rotated, first in first out?</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>qq7_00</name>
            <choiceReferences>Yes</choiceReferences>
            <choiceReferences>No</choiceReferences>
            <dataType>String</dataType>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Screen3</name>
        <label>Q7 - No</label>
        <locationX>612</locationX>
        <locationY>87</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>CreateTask</targetReference>
        </connector>
        <fields>
            <name>Why_No</name>
            <choiceReferences>Closed</choiceReferences>
            <choiceReferences>Too_Small</choiceReferences>
            <choiceReferences>Not_interested_in_MMC</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Why No</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Screen3_0</name>
        <label>Q7 - Yes</label>
        <locationX>610</locationX>
        <locationY>309</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>CreateTask</targetReference>
        </connector>
        <fields>
            <name>qq7follow</name>
            <fieldText>What investment would be required for incremental volume</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Why_No_0</name>
            <choiceReferences>Tap_to_table</choiceReferences>
            <choiceReferences>Promo_Materials</choiceReferences>
            <choiceReferences>Trade_rebate</choiceReferences>
            <choiceReferences>Increased_call</choiceReferences>
            <choiceReferences>N_A</choiceReferences>
            <dataType>String</dataType>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Welcome_Screen</name>
        <label>Welcome Screen</label>
        <locationX>63</locationX>
        <locationY>33</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>q7yesno_0</targetReference>
        </connector>
        <fields>
            <name>welcomemsg</name>
            <fieldText>Hi,

Please start the survey!!</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Type</name>
            <choiceReferences>On_Prem</choiceReferences>
            <choiceReferences>On_Prem_6_Pints</choiceReferences>
            <choiceReferences>Debug</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Type</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <startElementReference>Welcome_Screen</startElementReference>
    <variables>
        <name>Id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Subject</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>New Survey</stringValue>
        </value>
    </variables>
</Flow>
