src/flows/FSL_updateWOLI-5.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>ass</name>
        <label>ass</label>
        <locationX>547</locationX>
        <locationY>32</locationY>
        <assignmentItems>
            <assignToReference>sobjectProducts.Work_Order__c</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>workorderid</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>ass_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>ass_0</name>
        <label>ass</label>
        <locationX>722</locationX>
        <locationY>113</locationY>
        <assignmentItems>
            <assignToReference>colvarProducts</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>sobjectProducts</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>loopProducts</targetReference>
        </connector>
    </assignments>
    <formulas>
        <name>Now</name>
        <dataType>DateTime</dataType>
        <expression>{!$Flow.CurrentDateTime}</expression>
    </formulas>
    <formulas>
        <name>Nowplus7days</name>
        <dataType>DateTime</dataType>
        <expression>{!$Flow.CurrentDateTime}+7</expression>
    </formulas>
    <formulas>
        <name>Subject</name>
        <dataType>String</dataType>
        <expression>{!Name}+&quot; Appointment &quot;+text({!$Flow.CurrentDate})</expression>
    </formulas>
    <interviewLabel>FSL_updateWOLI {!$Flow.CurrentDateTime}</interviewLabel>
    <label>FSL_updateWOLI</label>
    <loops>
        <name>loopProducts</name>
        <label>loopProducts</label>
        <locationX>191</locationX>
        <locationY>90</locationY>
        <assignNextValueToReference>sobjectProducts</assignNextValueToReference>
        <collectionReference>colvarProducts</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>lookupWOID</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>updatewoli</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processType>Flow</processType>
    <recordLookups>
        <name>FixProductRequired</name>
        <label>FixProductRequired</label>
        <locationX>31</locationX>
        <locationY>21</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>loopProducts</targetReference>
        </connector>
        <filters>
            <field>WOLI__c</field>
            <operator>StartsWith</operator>
            <value>
                <stringValue>1WL</stringValue>
            </value>
        </filters>
        <filters>
            <field>Work_Order__c</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </filters>
        <object>ProductRequired</object>
        <outputReference>colvarProducts</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>WOLI__c</queriedFields>
        <queriedFields>Work_Order__c</queriedFields>
    </recordLookups>
    <recordLookups>
        <name>lookupWOID</name>
        <label>lookupWOID</label>
        <locationX>366</locationX>
        <locationY>19</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>ass</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>sobjectProducts.WOLI__c</elementReference>
            </value>
        </filters>
        <object>WorkOrderLineItem</object>
        <outputAssignments>
            <assignToReference>workorderid</assignToReference>
            <field>WorkOrderId</field>
        </outputAssignments>
    </recordLookups>
    <recordUpdates>
        <name>updatewoli</name>
        <label>updatewoli</label>
        <locationX>448</locationX>
        <locationY>208</locationY>
        <connector>
            <targetReference>Done</targetReference>
        </connector>
        <inputReference>sobjectProducts</inputReference>
    </recordUpdates>
    <screens>
        <name>Done</name>
        <label>Done</label>
        <locationX>194</locationX>
        <locationY>202</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>success</name>
            <fieldText>MOCK DATA COMPLETED</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <startElementReference>FixProductRequired</startElementReference>
    <variables>
        <name>account</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>accountid</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>City</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>colvarAccounts</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>colvarProducts</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ProductRequired</objectType>
    </variables>
    <variables>
        <name>Country</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Name</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>sobjectAccount</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>sobjectProducts</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ProductRequired</objectType>
    </variables>
    <variables>
        <name>State</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>STID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Street</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>WOID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>workorderid</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>Zip</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
