src/flows/FSL_viewcontent-1.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <dynamicChoiceSets>
        <name>Results</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filters>
            <field>FirstName</field>
            <operator>Contains</operator>
            <value>
                <elementReference>Find_a_Contact</elementReference>
            </value>
        </filters>
        <object>Contact</object>
        <outputAssignments>
            <assignToReference>MyVar</assignToReference>
            <field>Name</field>
        </outputAssignments>
    </dynamicChoiceSets>
    <interviewLabel>FSL_viewcontent {!$Flow.CurrentDateTime}</interviewLabel>
    <label>FSL_viewcontent</label>
    <processType>FieldServiceMobile</processType>
    <recordCreates>
        <name>Create_Account</name>
        <label>Create Account</label>
        <locationX>482</locationX>
        <locationY>55</locationY>
        <inputAssignments>
            <field>AnnualRevenue</field>
            <value>
                <elementReference>Turnover</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>Account_Name</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Phone</field>
            <value>
                <elementReference>num</elementReference>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordCreates>
    <screens>
        <name>HW</name>
        <label>HW</label>
        <locationX>87</locationX>
        <locationY>57</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>step2</targetReference>
        </connector>
        <fields>
            <name>OutputDemo</name>
            <fieldText>Outputs

{!$Flow.CurrentDate}

{!MyVar}</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Help</name>
            <fieldText>Press next to create a new Account</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <helpText>do stuff</helpText>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Output</name>
        <label>Output</label>
        <locationX>392</locationX>
        <locationY>225</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Create_Account</targetReference>
        </connector>
        <fields>
            <name>findacontact</name>
            <choiceReferences>Results</choiceReferences>
            <dataType>String</dataType>
            <fieldText>findacontact</fieldText>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>step2</name>
        <label>Details</label>
        <locationX>281</locationX>
        <locationY>55</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Output</targetReference>
        </connector>
        <fields>
            <name>Account_Name</name>
            <dataType>String</dataType>
            <fieldText>Account Name</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>num</name>
            <dataType>Number</dataType>
            <fieldText>Office Telephone</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>Turnover</name>
            <dataType>Currency</dataType>
            <fieldText>Turnover</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <scale>0</scale>
        </fields>
        <fields>
            <name>Find_a_Contact</name>
            <dataType>String</dataType>
            <fieldText>Find a Contact</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <startElementReference>HW</startElementReference>
    <variables>
        <name>MyVar</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
