src/flows/FSL_RSL-10.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <choices>
        <name>Add_More</name>
        <choiceText>Add More</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>Finish</name>
        <choiceText>Finish</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Finish</stringValue>
        </value>
    </choices>
    <decisions>
        <name>AddNewOrEnd</name>
        <label>AddNewOrEnd</label>
        <locationX>528</locationX>
        <locationY>276</locationY>
        <defaultConnector>
            <targetReference>Check_In</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>EndChoice</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>End</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Finish</elementReference>
                </rightValue>
            </conditions>
            <label>EndChoice</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>WorkTypePick</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filters>
            <field>CTS__c</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <object>WorkType</object>
        <outputAssignments>
            <assignToReference>WorkTypeDesc</assignToReference>
            <field>Description</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>WorkTypeID</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>WorkTypeName</assignToReference>
            <field>Name</field>
        </outputAssignments>
        <valueField>Id</valueField>
    </dynamicChoiceSets>
    <interviewLabel>FSL_RSL {!$Flow.CurrentDateTime}</interviewLabel>
    <label>FSL_RSL</label>
    <processType>FieldServiceMobile</processType>
    <recordCreates>
        <name>Create_WOLI</name>
        <label>Create WOLI</label>
        <locationX>503</locationX>
        <locationY>88</locationY>
        <connector>
            <targetReference>Check_In_1_0</targetReference>
        </connector>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>WorkTypeDesc</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <elementReference>WorkTypeName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WorkOrderId</field>
            <value>
                <elementReference>WOID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WorkTypeId</field>
            <value>
                <elementReference>WorkTypeID</elementReference>
            </value>
        </inputAssignments>
        <object>WorkOrderLineItem</object>
    </recordCreates>
    <recordLookups>
        <name>WO</name>
        <label>WO</label>
        <locationX>141</locationX>
        <locationY>110</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_In</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Id</elementReference>
            </value>
        </filters>
        <object>WorkOrder</object>
        <outputAssignments>
            <assignToReference>WOID</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>WOStatus</assignToReference>
            <field>Status</field>
        </outputAssignments>
    </recordLookups>
    <screens>
        <name>Check_In</name>
        <label>Pick RSL</label>
        <locationX>328</locationX>
        <locationY>110</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Create_WOLI</targetReference>
        </connector>
        <fields>
            <name>pick</name>
            <choiceReferences>WorkTypePick</choiceReferences>
            <dataType>String</dataType>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Check_In_1</name>
        <label>Add More?</label>
        <locationX>825</locationX>
        <locationY>86</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>AddNewOrEnd</targetReference>
        </connector>
        <fields>
            <name>End</name>
            <choiceReferences>Add_More</choiceReferences>
            <choiceReferences>Finish</choiceReferences>
            <dataType>String</dataType>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <pausedText>CHECKED IN</pausedText>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Check_In_1_0</name>
        <label>Add Details To The Work Order Line Item</label>
        <locationX>669</locationX>
        <locationY>80</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Check_In_1</targetReference>
        </connector>
        <fields>
            <name>opt</name>
            <fieldText>Optional</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>text</name>
            <dataType>String</dataType>
            <fieldText>Field 1</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>longtext</name>
            <fieldText>Field 2</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <pausedText>CHECKED IN</pausedText>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>LightningComp</name>
        <label>LightningComp</label>
        <locationX>150</locationX>
        <locationY>136</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>comp</name>
            <extensionName>c:fsl_lightningflow</extensionName>
            <fieldType>ComponentInstance</fieldType>
            <inputParameters>
                <name>Title</name>
                <value>
                    <stringValue>HELLO MY LIGHTNING COMP</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>Icon</name>
                <value>
                    <stringValue>standard:account</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>size</name>
                <value>
                    <stringValue>medium</stringValue>
                </value>
            </inputParameters>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <startElementReference>LightningComp</startElementReference>
    <variables>
        <name>Id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>parentid</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>userid</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>WOID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>WorkTypeDesc</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>WorkTypeID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>WorkTypeName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>WOStatus</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
