src/flows/FSL_Checkinout-5.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <decisions>
        <name>CheckStatus</name>
        <label>CheckStatus</label>
        <locationX>384</locationX>
        <locationY>104</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>In</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>WOStatus</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Check-In</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_In</targetReference>
            </connector>
            <label>In</label>
        </rules>
        <rules>
            <name>OUT</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>WOStatus</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>Check-Out</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_In_0</targetReference>
            </connector>
            <label>OUT</label>
        </rules>
    </decisions>
    <interviewLabel>FSL_Checkinout {!$Flow.CurrentDateTime}</interviewLabel>
    <label>FSL_Checkinout</label>
    <processType>FieldServiceMobile</processType>
    <recordLookups>
        <name>WO</name>
        <label>WO</label>
        <locationX>141</locationX>
        <locationY>110</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>CheckStatus</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Id</elementReference>
            </value>
        </filters>
        <object>WorkOrder</object>
        <outputAssignments>
            <assignToReference>WOID</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>WOStatus</assignToReference>
            <field>Status</field>
        </outputAssignments>
    </recordLookups>
    <recordUpdates>
        <name>Checkinupdate</name>
        <label>Checkinupdate</label>
        <locationX>217</locationX>
        <locationY>393</locationY>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>WOID</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Check-In</stringValue>
            </value>
        </inputAssignments>
        <object>WorkOrder</object>
    </recordUpdates>
    <recordUpdates>
        <name>Checkinupdate_0</name>
        <label>Checkoutupdate</label>
        <locationX>434</locationX>
        <locationY>396</locationY>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>WOID</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Check-Out</stringValue>
            </value>
        </inputAssignments>
        <object>WorkOrder</object>
    </recordUpdates>
    <screens>
        <name>Check_In</name>
        <label>Check In</label>
        <locationX>220</locationX>
        <locationY>270</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Checkinupdate</targetReference>
        </connector>
        <fields>
            <name>MSGCHKIN</name>
            <fieldText>CHECKED IN

Outputs

{!$Flow.CurrentDate}

{!Id}
{!parentid}
{!userid}</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <pausedText>CHECKED IN</pausedText>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Check_In_0</name>
        <label>Check Out</label>
        <locationX>430</locationX>
        <locationY>280</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Checkinupdate_0</targetReference>
        </connector>
        <fields>
            <name>MSGCHKIN_0</name>
            <fieldText>CHECKED Out

Outputs

{!$Flow.CurrentDate}

{!Id}
{!parentid}
{!userid}</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <pausedText>CHECKED IN</pausedText>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <startElementReference>WO</startElementReference>
    <variables>
        <name>Id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>parentid</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>userid</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>WOID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>WOStatus</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
