src/flows/FSL_CloseWOWhenWOLIareClosed-2.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>checkopenWOLI</name>
        <label>checkopenWOLI</label>
        <locationX>287</locationX>
        <locationY>371</locationY>
        <assignmentItems>
            <assignToReference>varCounter</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>loop</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>counter</name>
        <label>counter</label>
        <locationX>63</locationX>
        <locationY>118</locationY>
        <assignmentItems>
            <assignToReference>varCounter</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>loop</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>ALL_WOLI_Closed</name>
        <label>ALL WOLI Closed?</label>
        <locationX>409</locationX>
        <locationY>219</locationY>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>AllClosed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>varCounter</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <numberValue>0.0</numberValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CloseWO</targetReference>
            </connector>
            <label>AllClosed</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_if_WOLI_is_closed</name>
        <label>Check if WOLI is closed</label>
        <locationX>63</locationX>
        <locationY>376</locationY>
        <defaultConnector>
            <targetReference>loop</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>NotClosed</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>objvarWOLI.IsClosed</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>checkopenWOLI</targetReference>
            </connector>
            <label>NotClosed</label>
        </rules>
    </decisions>
    <interviewLabel>FSL_CloseWOWhenWOLIareClosed {!$Flow.CurrentDateTime}</interviewLabel>
    <label>FSL_CloseWOWhenWOLIareClosed</label>
    <loops>
        <name>loop</name>
        <label>loop</label>
        <locationX>62</locationX>
        <locationY>224</locationY>
        <assignNextValueToReference>objvarWOLI</assignNextValueToReference>
        <collectionReference>WOLI</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Check_if_WOLI_is_closed</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>ALL_WOLI_Closed</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>lookupWOLI</name>
        <label>lookupWOLI</label>
        <locationX>67</locationX>
        <locationY>20</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>counter</targetReference>
        </connector>
        <filters>
            <field>WorkOrderId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>WOID</elementReference>
            </value>
        </filters>
        <object>WorkOrderLineItem</object>
        <outputReference>WOLI</outputReference>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>CloseWO</name>
        <label>CloseWO</label>
        <locationX>595</locationX>
        <locationY>221</locationY>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>WOID</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Closed</stringValue>
            </value>
        </inputAssignments>
        <object>WorkOrder</object>
    </recordUpdates>
    <startElementReference>lookupWOLI</startElementReference>
    <variables>
        <name>objvarWOLI</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>WorkOrderLineItem</objectType>
    </variables>
    <variables>
        <name>varCounter</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>WOID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>WOLI</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>WorkOrderLineItem</objectType>
    </variables>
</Flow>
