src/flows/FSL_AccountSurvey-2.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <choices>
        <name>No</name>
        <choiceText>No</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>No</stringValue>
        </value>
    </choices>
    <choices>
        <name>Yes</name>
        <choiceText>Yes</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Yes</stringValue>
        </value>
    </choices>
    <formulas>
        <name>CurrentLoggedinUserId</name>
        <dataType>String</dataType>
        <expression>{!$User.Id}</expression>
    </formulas>
    <formulas>
        <name>CurrentLoggedInUserName</name>
        <dataType>String</dataType>
        <expression>{!$User.FirstName}</expression>
    </formulas>
    <interviewLabel>FSL_AccountSurvey {!$Flow.CurrentDateTime}</interviewLabel>
    <label>FSL_AccountSurvey</label>
    <processType>FieldServiceMobile</processType>
    <recordCreates>
        <name>Create_FSL_Survey_Rec</name>
        <label>Create FSL Survey Rec</label>
        <locationX>624</locationX>
        <locationY>104</locationY>
        <assignRecordIdToReference>FSLSurveyRecordId</assignRecordIdToReference>
        <inputAssignments>
            <field>Answer_1__c</field>
            <value>
                <elementReference>Ans1_Radio</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Answer_2__c</field>
            <value>
                <elementReference>Ans_2_Text</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Question_1__c</field>
            <value>
                <elementReference>Que1</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Question_2__c</field>
            <value>
                <elementReference>Que2</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>User__c</field>
            <value>
                <elementReference>CurrentLoggedinUserId</elementReference>
            </value>
        </inputAssignments>
        <object>FSL_Survey__c</object>
    </recordCreates>
    <recordLookups>
        <name>Pull_AccountRec</name>
        <label>Pull AccountRec</label>
        <locationX>118</locationX>
        <locationY>20</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Welcome_Screen</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CurrentAccountRecordId</elementReference>
            </value>
        </filters>
        <object>Account</object>
        <outputReference>CurrentAccountRec</outputReference>
        <queriedFields>Name</queriedFields>
    </recordLookups>
    <screens>
        <name>Question1</name>
        <label>Question1</label>
        <locationX>281</locationX>
        <locationY>108</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Question_2</targetReference>
        </connector>
        <fields>
            <name>Que1</name>
            <fieldText>Question 1</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Ans1_Radio</name>
            <choiceReferences>Yes</choiceReferences>
            <choiceReferences>No</choiceReferences>
            <dataType>String</dataType>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Question_2</name>
        <label>Question 2</label>
        <locationX>451</locationX>
        <locationY>110</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Create_FSL_Survey_Rec</targetReference>
        </connector>
        <fields>
            <name>Que2</name>
            <fieldText>Question 2</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Ans_2_Text</name>
            <dataType>String</dataType>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Welcome_Screen</name>
        <label>Welcome Screen</label>
        <locationX>118</locationX>
        <locationY>110</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Question1</targetReference>
        </connector>
        <fields>
            <name>WelcomeText</name>
            <fieldText>Hi,

Please Start Survey!!</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <startElementReference>Pull_AccountRec</startElementReference>
    <variables>
        <name>CurrentAccountRec</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <description>{!recordId}</description>
        <name>CurrentAccountRecordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>FSLSurveyRecordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
