src/flows/FSL_RSL-3.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <choices>
        <name>Add_More</name>
        <choiceText>Add More</choiceText>
        <dataType>String</dataType>
    </choices>
    <choices>
        <name>Finish</name>
        <choiceText>Finish</choiceText>
        <dataType>String</dataType>
        <value>
            <stringValue>Finish</stringValue>
        </value>
    </choices>
    <decisions>
        <name>AddNewOrEnd</name>
        <label>AddNewOrEnd</label>
        <locationX>518</locationX>
        <locationY>239</locationY>
        <defaultConnector>
            <targetReference>Check_In</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[Default Outcome]</defaultConnectorLabel>
        <rules>
            <name>EndChoice</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>End</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>Finish</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Check_In_0</targetReference>
            </connector>
            <label>EndChoice</label>
        </rules>
    </decisions>
    <dynamicChoiceSets>
        <name>WorkTypePick</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <object>WorkType</object>
        <outputAssignments>
            <assignToReference>WorkTypeID</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>WorkTypeName</assignToReference>
            <field>Name</field>
        </outputAssignments>
    </dynamicChoiceSets>
    <interviewLabel>FSL_RSL {!$Flow.CurrentDateTime}</interviewLabel>
    <label>FSL_RSL</label>
    <processType>FieldServiceMobile</processType>
    <recordCreates>
        <name>Create_WOLI</name>
        <label>Create WOLI</label>
        <locationX>522</locationX>
        <locationY>106</locationY>
        <connector>
            <targetReference>Check_In_1</targetReference>
        </connector>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>WorkTypeName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <elementReference>WorkTypeName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WorkOrderId</field>
            <value>
                <elementReference>WOID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WorkTypeId</field>
            <value>
                <elementReference>WorkTypeID</elementReference>
            </value>
        </inputAssignments>
        <object>WorkOrderLineItem</object>
    </recordCreates>
    <recordLookups>
        <name>WO</name>
        <label>WO</label>
        <locationX>141</locationX>
        <locationY>110</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Check_In</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Id</elementReference>
            </value>
        </filters>
        <object>WorkOrder</object>
        <outputAssignments>
            <assignToReference>WOID</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>WOStatus</assignToReference>
            <field>Status</field>
        </outputAssignments>
    </recordLookups>
    <screens>
        <name>Check_In</name>
        <label>Pick RSL</label>
        <locationX>327</locationX>
        <locationY>110</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Create_WOLI</targetReference>
        </connector>
        <fields>
            <name>pick</name>
            <choiceReferences>WorkTypePick</choiceReferences>
            <dataType>String</dataType>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <pausedText>CHECKED IN</pausedText>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Check_In_0</name>
        <label>Complete</label>
        <locationX>527</locationX>
        <locationY>381</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <fields>
            <name>Done</name>
            <fieldText>Completed...press close</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <pausedText>CHECKED IN</pausedText>
        <showFooter>false</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <screens>
        <name>Check_In_1</name>
        <label>Add More?</label>
        <locationX>715</locationX>
        <locationY>101</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>AddNewOrEnd</targetReference>
        </connector>
        <fields>
            <name>End</name>
            <choiceReferences>Add_More</choiceReferences>
            <choiceReferences>Finish</choiceReferences>
            <dataType>String</dataType>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <pausedText>CHECKED IN</pausedText>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <startElementReference>WO</startElementReference>
    <variables>
        <name>Id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>parentid</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>userid</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>WOID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>WorkTypeID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>WorkTypeName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>WOStatus</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
