src/flows/FSL_MaintainWODuration-9.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>CalDuration</name>
        <label>CalDuration</label>
        <locationX>778</locationX>
        <locationY>222</locationY>
        <assignmentItems>
            <assignToReference>vDuration</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>vTempDuration</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>isDateLessthen</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>getNewStartDate</name>
        <label>getNewStartDate</label>
        <locationX>1207</locationX>
        <locationY>223</locationY>
        <assignmentItems>
            <assignToReference>vMinStartDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>vTempStartDate</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>IsEndDateGreater</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>NewEndDate</name>
        <label>NewEndDate</label>
        <locationX>1114</locationX>
        <locationY>566</locationY>
        <assignmentItems>
            <assignToReference>vMaxEndDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>vTempEndDate</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>loop1</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>isDateLessthen</name>
        <label>isDateLessthen</label>
        <locationX>973</locationX>
        <locationY>225</locationY>
        <defaultConnector>
            <targetReference>IsEndDateGreater</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>NoDateLessThan</defaultConnectorLabel>
        <rules>
            <name>DateLessThan</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>vTempStartDate</leftValueReference>
                <operator>LessThan</operator>
                <rightValue>
                    <elementReference>vMinStartDate</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>getNewStartDate</targetReference>
            </connector>
            <label>DateLessThan</label>
        </rules>
    </decisions>
    <decisions>
        <name>IsEndDateGreater</name>
        <label>IsEndDateGreater</label>
        <locationX>1110</locationX>
        <locationY>410</locationY>
        <defaultConnector>
            <targetReference>loop1</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>NoEndDateIsGreater</defaultConnectorLabel>
        <rules>
            <name>EndDateIsGreater</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>vTempEndDate</leftValueReference>
                <operator>GreaterThan</operator>
                <rightValue>
                    <elementReference>vMaxEndDate</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>NewEndDate</targetReference>
            </connector>
            <label>EndDateIsGreater</label>
        </rules>
    </decisions>
    <formulas>
        <name>formula</name>
        <dataType>Number</dataType>
        <expression>{!vWOLI.DurationInMinutes}</expression>
        <scale>2</scale>
    </formulas>
    <interviewLabel>FSL_MaintainWODuration {!$Flow.CurrentDateTime}</interviewLabel>
    <label>FSL_MaintainWODuration</label>
    <loops>
        <name>loop1</name>
        <label>loop1</label>
        <locationX>280</locationX>
        <locationY>220</locationY>
        <assignNextValueToReference>vWOLI</assignNextValueToReference>
        <collectionReference>vcoll_WOLIs</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>FindWOLI</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>UpdateDuration</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>FindWOLI</name>
        <label>FindWOLI</label>
        <locationX>570</locationX>
        <locationY>223</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>CalDuration</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>vWOLI.Id</elementReference>
            </value>
        </filters>
        <object>WorkOrderLineItem</object>
        <outputAssignments>
            <assignToReference>vTempDuration</assignToReference>
            <field>Duration</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>vTempEndDate</assignToReference>
            <field>EndDate</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>vTempStartDate</assignToReference>
            <field>StartDate</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>findWOLIs</name>
        <label>findWOLIs</label>
        <locationX>279</locationX>
        <locationY>93</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>loop1</targetReference>
        </connector>
        <filters>
            <field>WorkOrderId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>WOID</elementReference>
            </value>
        </filters>
        <object>WorkOrderLineItem</object>
        <outputReference>vcoll_WOLIs</outputReference>
        <queriedFields>Duration</queriedFields>
        <queriedFields>Id</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>UpdateDuration</name>
        <label>UpdateDuration</label>
        <locationX>280</locationX>
        <locationY>463</locationY>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>WOID</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Duration</field>
            <value>
                <elementReference>vDuration</elementReference>
            </value>
        </inputAssignments>
        <object>WorkOrder</object>
    </recordUpdates>
    <startElementReference>findWOLIs</startElementReference>
    <variables>
        <name>vcoll_WOLIs</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>WorkOrderLineItem</objectType>
    </variables>
    <variables>
        <name>vDuration</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <scale>2</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>vMaxEndDate</name>
        <dataType>DateTime</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <dateTimeValue>1999-12-31T23:00:00.000Z</dateTimeValue>
        </value>
    </variables>
    <variables>
        <name>vMinStartDate</name>
        <dataType>DateTime</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <dateTimeValue>2019-12-31T23:00:00.000Z</dateTimeValue>
        </value>
    </variables>
    <variables>
        <name>vTempDuration</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>2</scale>
    </variables>
    <variables>
        <name>vTempEndDate</name>
        <dataType>DateTime</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <dateTimeValue>1999-12-31T23:00:00.000Z</dateTimeValue>
        </value>
    </variables>
    <variables>
        <name>vTempStartDate</name>
        <dataType>DateTime</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>vWOLI</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>WorkOrderLineItem</objectType>
    </variables>
    <variables>
        <name>WOID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
</Flow>
