src/flows/FSL_viewcontent-3.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <dynamicChoiceSets>
        <name>Results</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filters>
            <field>FirstName</field>
            <operator>Contains</operator>
        </filters>
        <object>Contact</object>
        <outputAssignments>
            <assignToReference>MyVar</assignToReference>
            <field>Name</field>
        </outputAssignments>
    </dynamicChoiceSets>
    <interviewLabel>FSL_viewcontent {!$Flow.CurrentDateTime}</interviewLabel>
    <label>FSL_viewcontent</label>
    <processType>FieldServiceMobile</processType>
    <recordLookups>
        <name>woli</name>
        <label>woli</label>
        <locationX>281</locationX>
        <locationY>68</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>update</targetReference>
        </connector>
        <object>WorkOrderLineItem</object>
        <outputAssignments>
            <assignToReference>content</assignToReference>
            <field>Video_URL__c</field>
        </outputAssignments>
    </recordLookups>
    <recordUpdates>
        <name>update</name>
        <label>update</label>
        <locationX>505</locationX>
        <locationY>204</locationY>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>MyVar</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </inputAssignments>
        <object>WorkOrderLineItem</object>
    </recordUpdates>
    <screens>
        <name>HW</name>
        <label>Content Viewer</label>
        <locationX>92</locationX>
        <locationY>48</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>woli</targetReference>
        </connector>
        <fields>
            <name>OutputDemo</name>
            <fieldText>{!MyVar}

{!content}</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Content_Viewed</name>
            <dataType>Boolean</dataType>
            <fieldText>Content Viewed</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <helpText>do stuff</helpText>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <startElementReference>HW</startElementReference>
    <variables>
        <name>content</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>MyVar</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
</Flow>
