src/flows/FSL_viewcontent-8.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <dynamicChoiceSets>
        <name>Results</name>
        <dataType>String</dataType>
        <displayField>Name</displayField>
        <filters>
            <field>FirstName</field>
            <operator>Contains</operator>
        </filters>
        <object>Contact</object>
        <outputAssignments>
            <assignToReference>MyVar</assignToReference>
            <field>Name</field>
        </outputAssignments>
    </dynamicChoiceSets>
    <interviewLabel>FSL_viewcontent {!$Flow.CurrentDateTime}</interviewLabel>
    <label>FSL_viewcontent</label>
    <processType>FieldServiceMobile</processType>
    <recordLookups>
        <name>woli</name>
        <label>woli</label>
        <locationX>248</locationX>
        <locationY>33</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>ContentViewer</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Id</elementReference>
            </value>
        </filters>
        <object>WorkOrderLineItem</object>
        <outputAssignments>
            <assignToReference>content</assignToReference>
            <field>Video_URL__c</field>
        </outputAssignments>
    </recordLookups>
    <recordUpdates>
        <name>update</name>
        <label>update</label>
        <locationX>505</locationX>
        <locationY>204</locationY>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </inputAssignments>
        <object>WorkOrderLineItem</object>
    </recordUpdates>
    <screens>
        <name>ContentViewer</name>
        <label>Content Viewer</label>
        <locationX>148</locationX>
        <locationY>148</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>update</targetReference>
        </connector>
        <fields>
            <name>OutputDemo</name>
            <fieldText>{!content}</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>urldebug</name>
            <fieldText>&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;url attempt using standard link&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;{!content}&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&amp;lt;a href=&amp;quot;{!content}&amp;quot;&amp;gt;Youtube Link using HTML&amp;lt;/a&amp;gt;&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Content_Viewed</name>
            <dataType>Boolean</dataType>
            <fieldText>Content Viewed</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>debug</name>
            <fieldText>Debug

{!Id}
{!ParentId}
{!UserId}</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <helpText>Check the box if you have viewed the video with the client</helpText>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <startElementReference>woli</startElementReference>
    <variables>
        <name>content</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Id</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>MyVar</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>ParentId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>UserId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
