src/flows/fslCreateData_Flow_screen-1.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>assAccountToWorkrder</name>
        <label>assAccountToWorkrder</label>
        <locationX>210</locationX>
        <locationY>99</locationY>
        <assignmentItems>
            <assignToReference>tempcolWO.AccountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>sobjectAccount.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>tempcolWO.Duration</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>tempcolWO.Street</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>sobjectAccount.ShippingStreet</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>tempcolWO.City</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>sobjectAccount.ShippingCity</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>tempcolWO.State</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>sobjectAccount.ShippingState</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>tempcolWO.Country</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>sobjectAccount.ShippingCountry</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>tempcolWO.StartDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>StartDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>tempcolWO.EndDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>EndDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>tempcolWO.Priority</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Medium</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>tempcolWO.PostalCode</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>sobjectAccount.ShippingPostalCode</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>assWOtoCollection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assSA</name>
        <label>assSA</label>
        <locationX>551</locationX>
        <locationY>506</locationY>
        <assignmentItems>
            <assignToReference>tempcolSA.ParentRecordId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>tempcolWO.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>tempcolSA.EarliestStartTime</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>StartDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>tempcolSA.DueDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>EndDate</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>assSA_toCollection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assSA_toCollection</name>
        <label>assSA_toCollection</label>
        <locationX>294</locationX>
        <locationY>501</locationY>
        <assignmentItems>
            <assignToReference>colSA</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>tempcolSA</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>loopNewWorkOrders</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assWOLI_1</name>
        <label>assWOLI_1</label>
        <locationX>321</locationX>
        <locationY>224</locationY>
        <assignmentItems>
            <assignToReference>tempcolWOLI_1.Subject</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fslCreateData_WOLISubject_1</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>tempcolWOLI_1.WorkOrderId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>tempcolWO.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>tempcolWOLI_1.StartDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>StartDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>tempcolWOLI_1.EndDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>EndDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>tempcolWOLI_1.WorkTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fslCreateData_WTRecTyprId_1</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>tempcolWOLI_1.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fslCreateData_WOLIRecTyprId_1</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>assWOtoCollection_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assWOLI_1_0</name>
        <label>assWOLI_2</label>
        <locationX>318</locationX>
        <locationY>313</locationY>
        <assignmentItems>
            <assignToReference>tempcolWOLI_2.Subject</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fslCreateData_WOLISubject_2</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>tempcolWOLI_2.WorkOrderId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>tempcolWO.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>tempcolWOLI_2.StartDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>StartDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>tempcolWOLI_2.EndDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>EndDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>tempcolWOLI_2.WorkTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fslCreateData_WTRecTyprId_2</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>tempcolWOLI_2.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fslCreateData_WOLIRecTyprId_2</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>assWOtoCollection_0_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assWOLI_1_0_0</name>
        <label>assWOLI_3</label>
        <locationX>312</locationX>
        <locationY>407</locationY>
        <assignmentItems>
            <assignToReference>tempcolWOLI_3.Subject</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fslCreateData_WOLISubject_3</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>tempcolWOLI_3.WorkOrderId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>tempcolWO.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>tempcolWOLI_3.StartDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>StartDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>tempcolWOLI_3.EndDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>EndDate</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>tempcolWOLI_3.WorkTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fslCreateData_WTRecTyprId_3</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>tempcolWOLI_3.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fslCreateData_WOLIRecTyprId_3</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>assWOtoCollection_0_0_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assWOtoCollection</name>
        <label>assWOtoCollection</label>
        <locationX>385</locationX>
        <locationY>105</locationY>
        <assignmentItems>
            <assignToReference>collWOs</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>tempcolWO</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>LoopAllAccounts</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assWOtoCollection_0</name>
        <label>assWOLI_1_toCollection</label>
        <locationX>541</locationX>
        <locationY>223</locationY>
        <assignmentItems>
            <assignToReference>colWOLI_1</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>tempcolWOLI_1</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>assWOLI_1_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assWOtoCollection_0_0</name>
        <label>assWOLI_2_toCollection</label>
        <locationX>543</locationX>
        <locationY>307</locationY>
        <assignmentItems>
            <assignToReference>colWOLI_2</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>tempcolWOLI_2</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>assWOLI_1_0_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assWOtoCollection_0_0_0</name>
        <label>assWOLI_3_toCollection</label>
        <locationX>550</locationX>
        <locationY>409</locationY>
        <assignmentItems>
            <assignToReference>colWOLI_3</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>tempcolWOLI_3</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>assSA</targetReference>
        </connector>
    </assignments>
    <formulas>
        <name>Enddateplus1</name>
        <dataType>DateTime</dataType>
        <expression>{!EndDate}+1</expression>
    </formulas>
    <formulas>
        <name>Enddateplus2</name>
        <dataType>DateTime</dataType>
        <expression>{!EndDate}+2</expression>
    </formulas>
    <formulas>
        <name>fslCreateData_AccFilter</name>
        <dataType>String</dataType>
        <expression>{!$Label.fslCreateData_AccFilter}</expression>
    </formulas>
    <formulas>
        <name>fslCreateData_WOLIRecTyprId_1</name>
        <dataType>String</dataType>
        <expression>{!$Label.fslCreateData_WOLIRecTyprId_1}</expression>
    </formulas>
    <formulas>
        <name>fslCreateData_WOLIRecTyprId_2</name>
        <dataType>String</dataType>
        <expression>{!$Label.fslCreateData_WOLIRecTyprId_2}</expression>
    </formulas>
    <formulas>
        <name>fslCreateData_WOLIRecTyprId_3</name>
        <dataType>String</dataType>
        <expression>{!$Label.fslCreateData_WOLIRecTyprId_3}</expression>
    </formulas>
    <formulas>
        <name>fslCreateData_WOLISubject_1</name>
        <dataType>String</dataType>
        <expression>{!$Label.fslCreateData_WOLISubject_1}</expression>
    </formulas>
    <formulas>
        <name>fslCreateData_WOLISubject_2</name>
        <dataType>String</dataType>
        <expression>{!$Label.fslCreateData_WOLISubject_2}</expression>
    </formulas>
    <formulas>
        <name>fslCreateData_WOLISubject_3</name>
        <dataType>String</dataType>
        <expression>{!$Label.fslCreateData_WOLISubject_3}</expression>
    </formulas>
    <formulas>
        <name>fslCreateData_WTcreateSA</name>
        <dataType>String</dataType>
        <expression>{!$Label.fslCreateData_WTcreateSA}</expression>
    </formulas>
    <formulas>
        <name>fslCreateData_WTRecTyprId_1</name>
        <dataType>String</dataType>
        <expression>{!$Label.fslCreateData_WTRecTyprId_1}</expression>
    </formulas>
    <formulas>
        <name>fslCreateData_WTRecTyprId_2</name>
        <dataType>String</dataType>
        <expression>{!$Label.fslCreateData_WTRecTyprId_2}</expression>
    </formulas>
    <formulas>
        <name>fslCreateData_WTRecTyprId_3</name>
        <dataType>String</dataType>
        <expression>{!$Label.fslCreateData_WTRecTyprId_3}</expression>
    </formulas>
    <formulas>
        <name>Now</name>
        <dataType>DateTime</dataType>
        <expression>{!$Flow.CurrentDateTime}</expression>
    </formulas>
    <formulas>
        <name>nowplus1</name>
        <dataType>DateTime</dataType>
        <expression>{!$Flow.CurrentDateTime}+1</expression>
    </formulas>
    <formulas>
        <name>nowplus2</name>
        <dataType>DateTime</dataType>
        <expression>{!$Flow.CurrentDateTime}+2</expression>
    </formulas>
    <formulas>
        <name>nowplus3</name>
        <dataType>DateTime</dataType>
        <expression>{!$Flow.CurrentDateTime}+3</expression>
    </formulas>
    <formulas>
        <name>nowplus4</name>
        <dataType>DateTime</dataType>
        <expression>{!$Flow.CurrentDateTime}+4</expression>
    </formulas>
    <formulas>
        <name>nowplus5</name>
        <dataType>DateTime</dataType>
        <expression>{!$Flow.CurrentDateTime}+5</expression>
    </formulas>
    <formulas>
        <name>nowplus6</name>
        <dataType>DateTime</dataType>
        <expression>{!$Flow.CurrentDateTime}+6</expression>
    </formulas>
    <formulas>
        <name>Startdateplus1</name>
        <dataType>DateTime</dataType>
        <expression>{!StartDate}+1</expression>
    </formulas>
    <formulas>
        <name>Startdateplus2</name>
        <dataType>DateTime</dataType>
        <expression>{!StartDate}+2</expression>
    </formulas>
    <interviewLabel>fslCreateData_Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>fslCreateData_Flow</label>
    <loops>
        <name>LoopAllAccounts</name>
        <label>LoopAllAccounts</label>
        <locationX>12</locationX>
        <locationY>186</locationY>
        <assignNextValueToReference>sobjectAccount</assignNextValueToReference>
        <collectionReference>colvarAccounts</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>assAccountToWorkrder</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>fastCreateWOs</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>loopNewWorkOrders</name>
        <label>loopNewWorkOrders</label>
        <locationX>43</locationX>
        <locationY>426</locationY>
        <assignNextValueToReference>tempcolWO</assignNextValueToReference>
        <collectionReference>collWOs</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>assWOLI_1</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>fastCreateWOs_0</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processType>Flow</processType>
    <recordCreates>
        <name>fastCreateSA</name>
        <label>fastCreateSA</label>
        <locationX>540</locationX>
        <locationY>668</locationY>
        <connector>
            <targetReference>CreateData_Now_1</targetReference>
        </connector>
        <inputReference>colSA</inputReference>
    </recordCreates>
    <recordCreates>
        <name>fastCreateWOs</name>
        <label>fastCreateWOs</label>
        <locationX>24</locationX>
        <locationY>291</locationY>
        <connector>
            <targetReference>loopNewWorkOrders</targetReference>
        </connector>
        <inputReference>collWOs</inputReference>
    </recordCreates>
    <recordCreates>
        <name>fastCreateWOs_0</name>
        <label>fastCreateWOLI_1</label>
        <locationX>51</locationX>
        <locationY>665</locationY>
        <connector>
            <targetReference>fastCreateWOs_0_0</targetReference>
        </connector>
        <inputReference>colWOLI_1</inputReference>
    </recordCreates>
    <recordCreates>
        <name>fastCreateWOs_0_0</name>
        <label>fastCreateWOLI_2</label>
        <locationX>215</locationX>
        <locationY>663</locationY>
        <connector>
            <targetReference>fastCreateWOs_0_0_0</targetReference>
        </connector>
        <inputReference>colWOLI_2</inputReference>
    </recordCreates>
    <recordCreates>
        <name>fastCreateWOs_0_0_0</name>
        <label>fastCreateWOLI_3</label>
        <locationX>367</locationX>
        <locationY>664</locationY>
        <connector>
            <targetReference>fastCreateSA</targetReference>
        </connector>
        <inputReference>colWOLI_3</inputReference>
    </recordCreates>
    <recordLookups>
        <name>All_Accounts</name>
        <label>All Accounts</label>
        <locationX>10</locationX>
        <locationY>94</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>LoopAllAccounts</targetReference>
        </connector>
        <filters>
            <field>Name</field>
            <operator>Contains</operator>
            <value>
                <elementReference>fslCreateData_AccFilter</elementReference>
            </value>
        </filters>
        <object>Account</object>
        <outputReference>colvarAccounts</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>ShippingCity</queriedFields>
        <queriedFields>ShippingCountry</queriedFields>
        <queriedFields>ShippingPostalCode</queriedFields>
        <queriedFields>ShippingState</queriedFields>
        <queriedFields>ShippingStreet</queriedFields>
        <queriedFields>Name</queriedFields>
    </recordLookups>
    <screens>
        <name>Start</name>
        <label>Start</label>
        <locationX>14</locationX>
        <locationY>8</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>All_Accounts</targetReference>
        </connector>
        <fields>
            <name>Start_Date_input</name>
            <dataType>DateTime</dataType>
            <defaultValue>
                <elementReference>Now</elementReference>
            </defaultValue>
            <fieldText>When do you want to start the Work Orders from?</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>End_Date_Input</name>
            <dataType>DateTime</dataType>
            <defaultValue>
                <elementReference>nowplus2</elementReference>
            </defaultValue>
            <fieldText>When do you want to end the Work Orders from?</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>false</showHeader>
    </screens>
    <startElementReference>Start</startElementReference>
    <subflows>
        <name>CreateData_Now_1</name>
        <label>CreateData_Now+1</label>
        <locationX>55</locationX>
        <locationY>775</locationY>
        <connector>
            <targetReference>CreateData_Now_2</targetReference>
        </connector>
        <flowName>fslCreateData_FlowLoop</flowName>
        <inputAssignments>
            <name>StartDate</name>
            <value>
                <elementReference>Startdateplus1</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>EndDate</name>
            <value>
                <elementReference>Enddateplus1</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <subflows>
        <name>CreateData_Now_2</name>
        <label>CreateData_Now+2</label>
        <locationX>222</locationX>
        <locationY>775</locationY>
        <flowName>fslCreateData_FlowLoop</flowName>
        <inputAssignments>
            <name>StartDate</name>
            <value>
                <elementReference>Startdateplus2</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>EndDate</name>
            <value>
                <elementReference>Enddateplus2</elementReference>
            </value>
        </inputAssignments>
    </subflows>
    <variables>
        <name>collWOs</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>WorkOrder</objectType>
    </variables>
    <variables>
        <name>colSA</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ServiceAppointment</objectType>
    </variables>
    <variables>
        <name>colvarAccounts</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>colWOLI_1</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>WorkOrderLineItem</objectType>
    </variables>
    <variables>
        <name>colWOLI_2</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>WorkOrderLineItem</objectType>
    </variables>
    <variables>
        <name>colWOLI_3</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>WorkOrderLineItem</objectType>
    </variables>
    <variables>
        <name>EndDate</name>
        <dataType>DateTime</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>nowplus2</elementReference>
        </value>
    </variables>
    <variables>
        <name>sobjectAccount</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>StartDate</name>
        <dataType>DateTime</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>Now</elementReference>
        </value>
    </variables>
    <variables>
        <name>tempcolSA</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ServiceAppointment</objectType>
    </variables>
    <variables>
        <name>tempcolWO</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>WorkOrder</objectType>
    </variables>
    <variables>
        <name>tempcolWOLI_1</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>WorkOrderLineItem</objectType>
    </variables>
    <variables>
        <name>tempcolWOLI_2</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>WorkOrderLineItem</objectType>
    </variables>
    <variables>
        <name>tempcolWOLI_3</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>WorkOrderLineItem</objectType>
    </variables>
</Flow>
