src/flows/fslCreateData_Flow-4.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>assAccountToWorkrder</name>
        <label>assAccountToWorkrder</label>
        <locationX>179</locationX>
        <locationY>17</locationY>
        <assignmentItems>
            <assignToReference>tempcolWO.AccountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>sobjectAccount.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>tempcolWO.Duration</assignToReference>
            <operator>Assign</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>tempcolWO.Street</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>sobjectAccount.ShippingStreet</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>tempcolWO.City</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>sobjectAccount.ShippingCity</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>tempcolWO.State</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>sobjectAccount.ShippingState</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>tempcolWO.Country</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>sobjectAccount.ShippingCountry</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>tempcolWO.StartDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Now</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>tempcolWO.EndDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>nowplus1</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>tempcolWO.Priority</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Medium</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>tempcolWO.PostalCode</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>sobjectAccount.ShippingPostalCode</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>assWOtoCollection</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assWOLI_1</name>
        <label>assWOLI_1</label>
        <locationX>321</locationX>
        <locationY>224</locationY>
        <assignmentItems>
            <assignToReference>tempcolWOLI_1.Subject</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fslCreateData_WOLISubject_1</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>tempcolWOLI_1.WorkOrderId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>tempcolWO.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>tempcolWOLI_1.StartDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Now</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>tempcolWOLI_1.EndDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Now</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>tempcolWOLI_1.WorkTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fslCreateData_WTRecTyprId_1</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>tempcolWOLI_1.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fslCreateData_WOLIRecTyprId_1</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>assWOtoCollection_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assWOLI_1_0</name>
        <label>assWOLI_2</label>
        <locationX>318</locationX>
        <locationY>313</locationY>
        <assignmentItems>
            <assignToReference>tempcolWOLI_2.Subject</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fslCreateData_WOLISubject_2</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>tempcolWOLI_2.WorkOrderId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>tempcolWO.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>tempcolWOLI_2.StartDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Now</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>tempcolWOLI_2.EndDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Now</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>tempcolWOLI_2.WorkTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fslCreateData_WTRecTyprId_2</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>tempcolWOLI_2.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fslCreateData_WOLIRecTyprId_2</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>assWOtoCollection_0_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assWOLI_1_0_0</name>
        <label>assWOLI_3</label>
        <locationX>312</locationX>
        <locationY>407</locationY>
        <assignmentItems>
            <assignToReference>tempcolWOLI_3.Subject</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fslCreateData_WOLISubject_3</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>tempcolWOLI_3.WorkOrderId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>tempcolWO.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>tempcolWOLI_3.StartDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Now</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>tempcolWOLI_3.EndDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Now</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>tempcolWOLI_3.WorkTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fslCreateData_WTRecTyprId_3</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>tempcolWOLI_3.RecordTypeId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>fslCreateData_WOLIRecTyprId_3</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>assWOtoCollection_0_0_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assWOtoCollection</name>
        <label>assWOtoCollection</label>
        <locationX>307</locationX>
        <locationY>108</locationY>
        <assignmentItems>
            <assignToReference>collWOs</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>tempcolWO</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>LoopAllAccounts</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assWOtoCollection_0</name>
        <label>assWOLI_1_toCollection</label>
        <locationX>541</locationX>
        <locationY>223</locationY>
        <assignmentItems>
            <assignToReference>colWOLI_1</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>tempcolWOLI_1</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>assWOLI_1_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assWOtoCollection_0_0</name>
        <label>assWOLI_2_toCollection</label>
        <locationX>543</locationX>
        <locationY>307</locationY>
        <assignmentItems>
            <assignToReference>colWOLI_2</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>tempcolWOLI_2</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>assWOLI_1_0_0</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>assWOtoCollection_0_0_0</name>
        <label>assWOLI_3_toCollection</label>
        <locationX>316</locationX>
        <locationY>492</locationY>
        <assignmentItems>
            <assignToReference>colWOLI_3</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>tempcolWOLI_3</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>loopNewWorkOrders</targetReference>
        </connector>
    </assignments>
    <formulas>
        <name>fslCreateData_AccFilter</name>
        <dataType>String</dataType>
        <expression>{!$Label.fslCreateData_AccFilter}</expression>
    </formulas>
    <formulas>
        <name>fslCreateData_WOLIRecTyprId_1</name>
        <dataType>String</dataType>
        <expression>{!$Label.fslCreateData_WOLIRecTyprId_1}</expression>
    </formulas>
    <formulas>
        <name>fslCreateData_WOLIRecTyprId_2</name>
        <dataType>String</dataType>
        <expression>{!$Label.fslCreateData_WOLIRecTyprId_2}</expression>
    </formulas>
    <formulas>
        <name>fslCreateData_WOLIRecTyprId_3</name>
        <dataType>String</dataType>
        <expression>{!$Label.fslCreateData_WOLIRecTyprId_3}</expression>
    </formulas>
    <formulas>
        <name>fslCreateData_WOLISubject_1</name>
        <dataType>String</dataType>
        <expression>{!$Label.fslCreateData_WOLISubject_1}</expression>
    </formulas>
    <formulas>
        <name>fslCreateData_WOLISubject_2</name>
        <dataType>String</dataType>
        <expression>{!$Label.fslCreateData_WOLISubject_2}</expression>
    </formulas>
    <formulas>
        <name>fslCreateData_WOLISubject_3</name>
        <dataType>String</dataType>
        <expression>{!$Label.fslCreateData_WOLISubject_3}</expression>
    </formulas>
    <formulas>
        <name>fslCreateData_WTRecTyprId_1</name>
        <dataType>String</dataType>
        <expression>{!$Label.fslCreateData_WTRecTyprId_1}</expression>
    </formulas>
    <formulas>
        <name>fslCreateData_WTRecTyprId_2</name>
        <dataType>String</dataType>
        <expression>{!$Label.fslCreateData_WTRecTyprId_2}</expression>
    </formulas>
    <formulas>
        <name>fslCreateData_WTRecTyprId_3</name>
        <dataType>String</dataType>
        <expression>{!$Label.fslCreateData_WTRecTyprId_3}</expression>
    </formulas>
    <formulas>
        <name>Now</name>
        <dataType>DateTime</dataType>
        <expression>{!$Flow.CurrentDateTime}</expression>
    </formulas>
    <formulas>
        <name>nowplus1</name>
        <dataType>DateTime</dataType>
        <expression>{!$Flow.CurrentDateTime}+1</expression>
    </formulas>
    <formulas>
        <name>nowplus2</name>
        <dataType>DateTime</dataType>
        <expression>{!$Flow.CurrentDateTime}+2</expression>
    </formulas>
    <formulas>
        <name>nowplus3</name>
        <dataType>DateTime</dataType>
        <expression>{!$Flow.CurrentDateTime}+3</expression>
    </formulas>
    <formulas>
        <name>nowplus4</name>
        <dataType>DateTime</dataType>
        <expression>{!$Flow.CurrentDateTime}+4</expression>
    </formulas>
    <formulas>
        <name>nowplus5</name>
        <dataType>DateTime</dataType>
        <expression>{!$Flow.CurrentDateTime}+5</expression>
    </formulas>
    <formulas>
        <name>nowplus6</name>
        <dataType>DateTime</dataType>
        <expression>{!$Flow.CurrentDateTime}+6</expression>
    </formulas>
    <formulas>
        <name>Nowplus7days</name>
        <dataType>DateTime</dataType>
        <expression>{!$Flow.CurrentDateTime}+7</expression>
    </formulas>
    <formulas>
        <name>Subject</name>
        <dataType>String</dataType>
        <expression>{!Name}+&quot; Appointment &quot;+text({!$Flow.CurrentDate})</expression>
    </formulas>
    <interviewLabel>fslCreateData_Flow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>fslCreateData_Flow</label>
    <loops>
        <name>LoopAllAccounts</name>
        <label>LoopAllAccounts</label>
        <locationX>33</locationX>
        <locationY>114</locationY>
        <assignNextValueToReference>sobjectAccount</assignNextValueToReference>
        <collectionReference>colvarAccounts</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>assAccountToWorkrder</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>fastCreateWOs</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>loopNewWorkOrders</name>
        <label>loopNewWorkOrders</label>
        <locationX>44</locationX>
        <locationY>318</locationY>
        <assignNextValueToReference>tempcolWO</assignNextValueToReference>
        <collectionReference>collWOs</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>assWOLI_1</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>fastCreateWOs_0</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>fastCreateWOs</name>
        <label>fastCreateWOs</label>
        <locationX>40</locationX>
        <locationY>225</locationY>
        <connector>
            <targetReference>loopNewWorkOrders</targetReference>
        </connector>
        <inputReference>collWOs</inputReference>
    </recordCreates>
    <recordCreates>
        <name>fastCreateWOs_0</name>
        <label>fastCreateWOLI_1</label>
        <locationX>51</locationX>
        <locationY>665</locationY>
        <connector>
            <targetReference>fastCreateWOs_0_0</targetReference>
        </connector>
        <inputReference>colWOLI_1</inputReference>
    </recordCreates>
    <recordCreates>
        <name>fastCreateWOs_0_0</name>
        <label>fastCreateWOLI_2</label>
        <locationX>215</locationX>
        <locationY>663</locationY>
        <connector>
            <targetReference>fastCreateWOs_0_0_0</targetReference>
        </connector>
        <inputReference>colWOLI_2</inputReference>
    </recordCreates>
    <recordCreates>
        <name>fastCreateWOs_0_0_0</name>
        <label>fastCreateWOLI_3</label>
        <locationX>367</locationX>
        <locationY>664</locationY>
        <inputReference>colWOLI_3</inputReference>
    </recordCreates>
    <recordLookups>
        <name>All_Accounts</name>
        <label>All Accounts</label>
        <locationX>29</locationX>
        <locationY>16</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>LoopAllAccounts</targetReference>
        </connector>
        <filters>
            <field>Name</field>
            <operator>Contains</operator>
            <value>
                <elementReference>fslCreateData_AccFilter</elementReference>
            </value>
        </filters>
        <object>Account</object>
        <outputReference>colvarAccounts</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>ShippingCity</queriedFields>
        <queriedFields>ShippingCountry</queriedFields>
        <queriedFields>ShippingPostalCode</queriedFields>
        <queriedFields>ShippingState</queriedFields>
        <queriedFields>ShippingStreet</queriedFields>
        <queriedFields>Name</queriedFields>
    </recordLookups>
    <startElementReference>All_Accounts</startElementReference>
    <variables>
        <name>account</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>accountid</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>City</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>collWOs</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>WorkOrder</objectType>
    </variables>
    <variables>
        <name>colSA</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ServiceAppointment</objectType>
    </variables>
    <variables>
        <name>colvarAccounts</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>colvarProducts</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ProductRequired</objectType>
    </variables>
    <variables>
        <name>colWOLI_1</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>WorkOrderLineItem</objectType>
    </variables>
    <variables>
        <name>colWOLI_2</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>WorkOrderLineItem</objectType>
    </variables>
    <variables>
        <name>colWOLI_3</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>WorkOrderLineItem</objectType>
    </variables>
    <variables>
        <name>Country</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Name</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>sobjectAccount</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>sobjectProducts</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ProductRequired</objectType>
    </variables>
    <variables>
        <name>State</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>STID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Street</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>tempcolSA</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ServiceAppointment</objectType>
    </variables>
    <variables>
        <name>tempcolWO</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>WorkOrder</objectType>
    </variables>
    <variables>
        <name>tempcolWOLI_1</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>WorkOrderLineItem</objectType>
    </variables>
    <variables>
        <name>tempcolWOLI_2</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>WorkOrderLineItem</objectType>
    </variables>
    <variables>
        <name>tempcolWOLI_3</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>WorkOrderLineItem</objectType>
    </variables>
    <variables>
        <name>WOID</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Zip</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
