src/flows/SF1_call-1.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <dynamicChoiceSets>
        <name>DisplayTasks</name>
        <dataType>String</dataType>
        <displayField>Subject</displayField>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>acnid</elementReference>
            </value>
        </filters>
        <object>Task</object>
    </dynamicChoiceSets>
    <interviewLabel>SF1_call {!$Flow.CurrentDateTime}</interviewLabel>
    <label>SF1_call</label>
    <processType>Flow</processType>
    <recordLookups>
        <name>lookupAccount</name>
        <label>lookupAccount</label>
        <locationX>11</locationX>
        <locationY>14</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Pre_Call</targetReference>
        </connector>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Tijuana Flats (FL)</stringValue>
            </value>
        </filters>
        <object>Account</object>
        <outputAssignments>
            <assignToReference>acnid</assignToReference>
            <field>Id</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>name</assignToReference>
            <field>Name</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>rate</assignToReference>
            <field>Rating</field>
        </outputAssignments>
    </recordLookups>
    <screens>
        <name>In_Call</name>
        <label>In Call</label>
        <locationX>149</locationX>
        <locationY>139</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Post_Call</targetReference>
        </connector>
        <fields>
            <name>MyTasks</name>
            <choiceReferences>DisplayTasks</choiceReferences>
            <dataType>String</dataType>
            <fieldType>RadioButtons</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Post_Call</name>
        <label>Post Call</label>
        <locationX>324</locationX>
        <locationY>142</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Pre_Call</name>
        <label>Pre Call</label>
        <locationX>13</locationX>
        <locationY>137</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>In_Call</targetReference>
        </connector>
        <fields>
            <name>AccountDetail</name>
            <fieldText>{!acnid}
{!name}
{!rate}</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <startElementReference>lookupAccount</startElementReference>
    <variables>
        <name>acnid</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>name</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>rate</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
